<<<<<<< .merge_file_a10908

body {
  width: 200px;
}
=======
/*
* {
    border: red 2px solid;
}
*/

body {
  width: 175px;
  height: 115px;
}

.icon {
    width: 45px;
    background-color: white;
}

#eye,
#heart {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.options {
    font-size: 12px;
    position: absolute;
    bottom: 0;
    right: 15px;
}
>>>>>>> .merge_file_a05488
