body {
  width: 175px;
  height: 115px;
}

.row {
  padding: 5px;
}

a:hover {
    cursor: pointer;
}

.icon {
    width: 45px;
    background-color: white;
}

.options {
    font-size: 12px;
    position: absolute;
    bottom: 0;
    right: 15px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/*.type {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    height: 16px;
}


* {
    border: red 2px solid;
}
*/
