body {
    font-size: 16px;
}
input {
    font-size: 16px !important;
}
label {
    font-weight: normal !important;
}

#message {
    font-size: 16px !important;
    min-height: 200px;
}
.navbar .navbar-collapse {
  text-align: center;
}
