@fontsize: 16px;

body {
    font-size: @fontsize;
}
input {
    font-size: @fontsize !important;
}
label {
    font-weight: normal !important;
}

#message {
    font-size: @fontsize !important;
    min-height: 200px;
}

#alert {
    width: 40%;
    position: fixed;
    left: 50%;
    margin-left: -20%;
    text-align: center;
}
.inputMinutes {
    width: 60px;
}
.jumbotron {
    background-color: #FEFEFA;
}
.navbar .navbar-collapse {
  text-align: center;
}
.name_restoreDefault {
    margin: 0 auto;
    display:block;
    margin-bottom: 30px;
    margin-top: 30px;
}
.name_title {
    margin-left: 10px;
}


.health-extension-redshift {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 0, 0, 0.125) no-repeat center center fixed;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	pointer-events: none;
	z-index: 999999999;
}
